body {
  background-color: #15141a;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}
.app,
.footer {
  max-width: 350px;
}
.app {
  min-height: 100vh;
}
a,
button {
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.footer > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.footer > a > img {
  margin: 10px;
  position: relative;
}

.footer {
  background-color: #22222c;
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;

  /* position: sticky; */
 
}
